<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/public/static/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/public/static/favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>{$title}</title>
    <link rel="stylesheet" href="/public/static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

    <!--<script src="/public/static/assets/js/jquery.min.js"></script>-->
    <!--<script src="/public/static/assets/js/layer.js"></script>-->
    <script src="http://cos.rain1024.com/blog/static/js/jquery.min.js"></script>
    <script src="http://cos.rain1024.com/blog/static/js/layer/layer.js"></script>


    <script src="/public/static/assets/js/require.min.js"></script>
    <script>
      requirejs.config({
          baseUrl: '.'
      });
    </script>
    <!-- Dashboard Core -->
    <link href="/public/static/assets/css/dashboard.css" rel="stylesheet" />
    <script src="/public/static/assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="/public/static/assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="/public/static/assets/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="/public/static/assets/plugins/maps-google/plugin.css" rel="stylesheet" />
    <script src="/public/static/assets/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="/public/static/assets/plugins/input-mask/plugin.js"></script>
  </head>
  <body class="">
    <div class="page">
      <div class="page-main">
{include file="index/header"}

        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                授权码管理
              </h1>
              <div class="col-auto">
                <a href="javascript:;" onclick="iframe()" id="about" class="btn btn-outline-primary btn-sm">新增</a>
              </div>
            </div>
            <script>
                function iframe(){
                    //iframe层
                    layer.open({
                        type: 2,
                        title: '添加授权码',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['580px', '70%'],
                        content: '/index.php/index/index/add_key' //iframe的url
                    });
                }
            </script>
            <div class="row row-cards row-deck" >
              <div class="col-12" >
                <div class="card" style="height: 50%;">
                  <div class="table-responsive">
                    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                      <thead>

                        <tr>
                          <th>授权码</th>
                          <th>使用量</th>
                          <th class="text-center">使用率</th>
                          <th class="text-center">今日次数</th>
                          <th class="text-center">总次数</th>
                          <th class="text-center">有效期</th>
                          <th>最近发送</th>
                          <th class="text-center">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                      {volist name="list" id="line"}
                        <tr>
                          <td>
                            <div>{$line.note}</div>
                            <div class="small text-muted">
                              {$line.add_time}
                            </div>
                          </td>
                          <td>
                            <div class="clearfix">
                              <div class="float-left">
                                <strong><?php $number = ($line['use_number']/$line['number'])*100; echo $number;?>%</strong>
                              </div>
                              <div class="float-right">
                                <!--<small class="text-muted">最近一次使用：2018-5-5</small>-->
                              </div>
                            </div>
                            <div class="progress progress-xs">
                              <div class="progress-bar bg-green" role="progressbar" style="width: {$number}%"
						     aria-valuenow="{$number}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td class="text-center">
                            <div class="mx-auto chart-circle chart-circle-xs" data-value="0.92" data-thickness="3" data-color="blue">
                              <div class="chart-circle-value">92%</div>
                            </div>
                          </td>
                          <td class="text-center">
                            1/{$line.number}
                          </td>
                          <td class="text-center">
                            1/{$line.number}
                          </td>
                          <td class="text-center">
                            <!--<div class="small text-muted">Last login</div>-->
                           1/{$line.day}
                          </td>
                          <td>
                            <!--<div class="small text-muted">Last login</div>-->
                            <div>{$line.add_time}</div>
                          </td>
                          <td class="text-center">
                             <a href="javascript:void(0)" class="btn btn-secondary btn-sm">停止</a>
                            <div class="dropdown">
                              <button class="btn btn-secondary btn-sm " data-toggle="dropdown">删除</button>
                            </div>

                          </td>
                        </tr>
                      {/volist}

                      <tr></tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>





            </div>
          </div>
        </div>
      </div>

   {include file="index/footer"}
    </div>
  </body>
</html>