<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/public/static/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/public/static/favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>{$title}</title>
    <link rel="stylesheet" href="/public/static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

    <script src="/public/static/assets/js/require.min.js"></script>
    <script>
      requirejs.config({
          baseUrl: '.'
      });
    </script>
    <!-- Dashboard Core -->
    <link href="/public/static/assets/css/dashboard.css" rel="stylesheet" />
    <script src="/public/static/assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="/public/static/assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="/public/static/assets/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="/public/static/assets/plugins/maps-google/plugin.css" rel="stylesheet" />
    <script src="/public/static/assets/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="/public/static/assets/plugins/input-mask/plugin.js"></script>


  </head>
  <body class="">
    <div class="page">
      <div class="page-main">
        {include file="index/header"}
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div>
                  <div class="list-group list-group-transparent mb-0">

                    <!--<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">-->
                      <!--<span class="icon mr-3"><i class="fe fe-alert-circle"></i></span>Important <span class="ml-auto badge badge-secondary">3</span>-->
                    <!--</a>-->
                    <!--<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">-->
                      <!--<span class="icon mr-3"><i class="fe fe-star"></i></span>Starred-->
                    <!--</a>-->
                    <!--<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">-->
                      <!--<span class="icon mr-3"><i class="fe fe-file"></i></span>Drafts-->
                    <!--</a>-->
                    <!--<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">-->
                      <!--<span class="icon mr-3"><i class="fe fe-tag"></i></span>Tags-->
                    <!--</a>-->
                    <!--<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">-->
                      <!--<span class="icon mr-3"><i class="fe fe-trash-2"></i></span>Trash-->
                    <!--</a>-->
                  </div>

                </div>
              </div>
              <div class="col-md-12">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">发件箱</h3>
                    </div>
                    <div class="table-responsive">
                      <table class="table card-table table-vcenter text-nowrap">
                        <thead>
                        <tr>
                          <th class="w-1">No.</th>
                          <th>邮箱</th>
                          <th>标题</th>
                          <th>IP</th>
                          <th>类型</th>
                          <th>发送时间</th>
                          <th>内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="data" id="line"}
                        <tr>
                          <td><span class="text-muted">{$line.id}</span></td>
                          <td><a href="invoice.html" class="text-inherit">{$line.to_email}</a></td>
                          <td>
                            {$line.title}
                          </td>
                          <td>
                            {$line.ip}
                          </td>
                          <td>
                            {$line.status}
                          </td>
                          <td>
                            <span class="status-icon bg-success"></span> {$line.add_time}
                          </td>
                          <td>{$line.content}</td>

                        </tr>
                       {/volist}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      {include file="index/footer"}
    </div>
  </body>
</html>